/* Custom styles can go here */
.navbar-brand-custom {
    font-weight: bold;
    color: #6f42c1 !important; /* Warna ungu utama, !important untuk override Bootstrap jika perlu */
}

.btn-primary-custom, .bg-primary-custom {
    background-color: #6f42c1 !important;
    border-color: #6f42c1 !important;
    color: #fff !important;
}

.btn-primary-custom:hover, .btn-primary-custom:focus {
    background-color: #59359a !important;
    border-color: #53328f !important;
}

.btn-outline-primary-custom {
    color: #6f42c1 !important;
    border-color: #6f42c1 !important;
}
.btn-outline-primary-custom:hover, .btn-outline-primary-custom:focus {
    background-color: #6f42c1 !important;
    color: #fff !important;
}

.text-primary-custom {
    color: #6f42c1 !important;
}

/* Styling untuk pesan flash agar lebih terlihat */
.alert {
    margin-top: 1rem;
    margin-bottom: 1rem;
}