/* Custom styles will go here */
body {
    font-family: 'Inter', sans-serif; /* Contoh penggunaan font Inter jika diinginkan */
}

.navbar-custom {
    /* Warna ungu utama Anda bisa didefinisikan di sini atau di layout.html */
    /* background-color: #6f42c1; */ /* Contoh ungu dari Bootstrap docs */
}

/* Tambahan untuk Dark Mode jika ingin lebih spesifik */
[data-bs-theme="dark"] body {
    background-color: #2b3035; /* Contoh warna background gelap */
    color: #dee2e6;
}

[data-bs-theme="dark"] .card {
    background-color: #343a40;
    border-color: #495057;
}

[data-bs-theme="dark"] .table {
    --bs-table-bg: #343a40;
    --bs-table-striped-bg: #3c4148;
    --bs-table-hover-bg: #454b52;
    --bs-table-color: #dee2e6;
    --bs-table-border-color: #495057;
}
