<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="40" height="40" class="me-2">
            Sistem Deteksi Objek Terintegrasi
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {%- if session.user_id %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'dashboard' %}active{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'histori' %}active{% endif %}" href="{{ url_for('histori') }}">Histori</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ session.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'register' %}active{% endif %}" href="{{ url_for('register') }}">Register</a>
                    </li>
                {%- endif -%}
                <li class="nav-item">
                    <a class="nav-link" href="#aboutModal" data-bs-toggle="modal" data-bs-target="#aboutModal">Tentang</a>
                </li>
                <li class="nav-item">
                    <button id="themeToggleBtn" class="btn btn-outline-light ms-2" title="Toggle Light/Dark Mode">
                        <i class="fas fa-moon"></i> <span class="visually-hidden">Toggle theme</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">Tentang Aplikasi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Aplikasi Sistem Deteksi Objek Terintegrasi (Kualitas Oli)</p>
        <p class="text-center">Versi Produksi 1.5.6</p>
        <p class="text-center">
            <img src="{{ url_for('static', filename='img/logo-kampus.png') }}" alt="Logo Kampus" class="mx-auto d-block logo-kampus-modal">
        </p>
        <p class="text-center">Dikembangkan oleh Nailar Raza <br> untuk edukasi dan demonstrasi.</p>
        <p class="text-center">Proyek ini digunakan untuk memperoleh gelar Sarjana (S1) <br> Program Studi Teknik Informatika <br> Fakultas Teknik <br> Universitas Muhammadiyah Ponorogo<br> </p>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>-->
    </div>
  </div>
</div>
